.block {
  width: 200px;
  height: 200px;
  background-color: white;
  position: absolute;
  box-shadow: inset 10px rgba(255, 255, 255, 0.273);
  cursor: pointer;
}

html {
  background-image: url(./jason.png);
  background-repeat: repeat;
}
